/*6b7ea0*/

@font-face {
    font-family: "Lato";
	font-style: normal;
	font-weight: 900;
    src: url(../fonts/Lato-Black.otf), format(ttf);;
}

body {
	font-family: "Roboto", sans-serif;
	background-image: url(../img/fancy_bg1.jpg);
	background-size: cover;
	color: #eee;
}

.loading {
	background: url(../img/fancy_bg1.jpg);
	font-family: "Lato", sans-serif;
	font-weight: 800;
}

.fullscreen {
	align-items: flex-end;
	justify-content: flex-end;
}

h1,
.welcome span.corner {
	font-family: "Lato", sans-serif;
	font-weight: 800;
}

.welcome span.corner {
	font-size: 6em;
	color: #fff;
	padding: 10%;
}

.wrapper {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.picture {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .3) inset;
}

.wrapper .picture .text {
	color: #eee;
}

.wrapper .text {
	color: #777;
}

.speaker {
	background-image: url(../img/fancy_bg2.jpg);
	background-size: cover;
}

.wrapper .text .box {
	padding: 5%;
}

.wrapper .text .box .button {
	color: #6b7ea0;
	border: 3px #6b7ea0 solid;
	border-radius: 2px;
	font-size: 24pt;
	padding: 10px 50px;
	height: unset;
	font-weight: 500;
	transition: 150ms cubic-bezier(0, 0, 0, .9);;
}

.wrapper .text .box .button:hover {
	background: #6b7ea0;
	color: #eee;
}