body {
	background-image: url(../img/epic_bg1.jpg);
	background-size: cover;
	color: #eee;
}

h1 {
	padding-bottom: 1%;
}

h1,
.welcome span.corner {
	font-family: "Alegreya", sans-serif;
	font-weight: 800;
}

p, .text {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 14pt;
	font-weight: 100;
}

.fullscreen {
	align-items: flex-start;
	justify-content: flex-start;
}

.wrapper {
	background: transparent;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.main.in {
	padding: 0 10%;
}

.main > ul.main {
	padding: 5% 40px;
}

.main > .textbox {
	background: rgba(0, 0, 0, .5);
}

.textbox h1 {
	border-bottom: 1px rgba(50, 50, 50, 0.7) solid;
}

.inset {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .3) inset;
}

ul.main  > li {
	margin: 0;
}

.wrapper .text .box {
	padding: 5%;
}

.wrapper .text .box .button {
	border: 1px rgba(50, 50, 50, 0.7) solid;
	color: #eee;
	font-weight: 100;
	font-size: 1em;
	padding: 0.3em 2em;
	height: unset;
	transition: 150ms cubic-bezier(0, 0, 0, 1);
}

.wrapper .text .box .button:hover {
	border: 1px rgba(50, 50, 50, 0.7) solid;
	color: #ccc;
	background: rgba(50, 30, 30, .3);
}

.welcome span.corner {
	font-size: 6em;
	color: #fff;
	padding: 10%;
}

.mountain {
	background-image: url(../img/epic_bg2.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.mountain2 {
	background-image: url(../img/epic_bg3.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.mountain3 {
	background-image: url(../img/epic_bg4.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.footer {
	box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, .25) inset;
	background-size: cover;
	background-attachment: fixed;
}